.landing{

}

body{
  width: 100vw;
  height:100vh;

  background:linear-gradient(150deg,rgb(67, 41, 67),rgb(233, 45, 233),rgb(232, 81, 106),rgb(255, 138, 157),rgb(237, 76, 103),rgb(232, 226, 232));
  color: rgba(0, 0, 0, 0.974);
  /* background-size: cover;
  background-repeat: no-repeat; */
}


a {
  color: rgb(0, 0, 0);
}